In [ ]:
import pandas as pd
from scipy import stats
from scipy.stats import ttest_ind

In [ ]:
df_bobs = pd.read_excel('/content/drive/MyDrive/data_bobs.xlsx')
df_bobs.head()

   Unnamed: 0  ...              Category
0           1  ...  Sebelum PPKM Level 4
1           2  ...  Sebelum PPKM Level 4
2           3  ...  Sebelum PPKM Level 4
3           4  ...  Sebelum PPKM Level 4
4           5  ...  Sebelum PPKM Level 4

[5 rows x 9 columns]

In [ ]:
df_bobs.drop('Unnamed: 0', axis='columns', inplace=True)
df_bobs

       Tanggal  ...              Category
0   15-01-2021  ...  Sebelum PPKM Level 4
1   16-01-2021  ...  Sebelum PPKM Level 4
2   17-01-2021  ...  Sebelum PPKM Level 4
3   18-01-2021  ...  Sebelum PPKM Level 4
4   19-01-2021  ...  Sebelum PPKM Level 4
5   20-01-2021  ...  Sebelum PPKM Level 4
6   21-01-2021  ...                  PPKM
7   22-01-2021  ...                  PPKM
8   23-01-2021  ...                  PPKM
9   24-01-2021  ...                  PPKM
10  25-01-2021  ...                  PPKM
11  26-01-2021  ...                  PPKM

[12 rows x 8 columns]

In [ ]:
df_bobs = df_bobs.rename(columns = {'retail_and_recreation_percent_change_from_baseline':'retail_recreation', 'grocery_and_pharmacy_percent_change_from_baseline':'grocery_pharmacy',	'parks_percent_change_from_baseline':'parks',	'transit_stations_percent_change_from_baseline':'transit_stations',	'workplaces_percent_change_from_baseline':'workplaces',	'residential_percent_change_from_baseline':'residential'}, inplace=False)
df_bobs.head()

      Tanggal  retail_recreation  ...  residential              Category
0  15-01-2021                -36  ...           13  Sebelum PPKM Level 4
1  16-01-2021                -39  ...            8  Sebelum PPKM Level 4
2  17-01-2021                -41  ...            8  Sebelum PPKM Level 4
3  18-01-2021                -39  ...           14  Sebelum PPKM Level 4
4  19-01-2021                -39  ...           14  Sebelum PPKM Level 4

[5 rows x 8 columns]

In [ ]:
df_bobs.columns

Index(['Tanggal', 'retail_recreation', 'grocery_pharmacy', 'parks',
       'transit_stations', 'workplaces', 'residential', 'Category'],
      dtype='object')

In [ ]:
df_bobs.groupby('Category').mean()

                      retail_recreation  ...  residential
Category                                 ...
PPKM                         -38.166667  ...    13.166667
Sebelum PPKM Level 4         -38.666667  ...    11.833333

[2 rows x 6 columns]

In [ ]:
cat1 = df_bobs[df_bobs['Category']=='Sebelum PPKM Level 4']
cat2 = df_bobs[df_bobs['Category']=='PPKM']
ttest_ind(cat1['retail_recreation'],cat2['retail_recreation'])

Ttest_indResult(statistic=-0.22808577638091165, pvalue=0.8241757293768789)

In [ ]:
cat1 = df_bobs[df_bobs['Category']=='Sebelum PPKM Level 4']
cat2 = df_bobs[df_bobs['Category']=='PPKM']
ttest_ind(cat1[['retail_recreation',	'grocery_pharmacy',	'parks',	'transit_stations',	'workplaces',	'residential']],cat2[['retail_recreation',	'grocery_pharmacy',	'parks',	'transit_stations',	'workplaces',	'residential']])

Ttest_indResult(statistic=array([-0.22808578, -0.56672186,  0.32322997, -0.37796447, -0.46004371,
       -0.88779352]), pvalue=array([0.82417573, 0.58339851, 0.75317877, 0.71335608, 0.6553251 ,
       0.39550327]))

In [ ]:
df_fay = pd.read_excel('/content/drive/MyDrive/data_ttest1.xlsx')
df_fay

    Unnamed: 0  ... residential_percent_change_from_baseline
0            1  ...                                       12
1            2  ...                                       16
2            3  ...                                       16
3            4  ...                                       16
4            5  ...                                       17
5            6  ...                                       17
6            7  ...                                       11
7            8  ...                                       10
8            9  ...                                       15
9           10  ...                                       16
10          11  ...                                       22
11          12  ...                                       14
12          13  ...                                       16
13          14  ...                                       10

[14 rows x 8 columns]

In [ ]:
df_fay.drop('Unnamed: 0', axis='columns', inplace=True)
df_fay

       Tanggal  ...  residential_percent_change_from_baseline
0   01-08-2021  ...                                        12
1   02-08-2021  ...                                        16
2   03-08-2021  ...                                        16
3   04-08-2021  ...                                        16
4   05-08-2021  ...                                        17
5   06-08-2021  ...                                        17
6   07-08-2021  ...                                        11
7   08-08-2021  ...                                        10
8   09-08-2021  ...                                        15
9   10-08-2021  ...                                        16
10  11-08-2021  ...                                        22
11  12-08-2021  ...                                        14
12  13-08-2021  ...                                        16
13  14-08-2021  ...                                        10

[14 rows x 7 columns]

In [ ]:
df_fay = df_fay.rename(columns = {'retail_and_recreation_percent_change_from_baseline':'retail_recreation', 'grocery_and_pharmacy_percent_change_from_baseline':'grocery_pharmacy',	'parks_percent_change_from_baseline':'parks',	'transit_stations_percent_change_from_baseline':'transit_stations',	'workplaces_percent_change_from_baseline':'workplaces',	'residential_percent_change_from_baseline':'residential'}, inplace=False)
df_fay.head()

      Tanggal  retail_recreation  ...  workplaces  residential
0  01-08-2021                -42  ...         -22           12
1  02-08-2021                -32  ...         -41           16
2  03-08-2021                -34  ...         -42           16
3  04-08-2021                -34  ...         -41           16
4  05-08-2021                -37  ...         -41           17

[5 rows x 7 columns]

In [ ]:
df_fay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Tanggal            14 non-null     object
 1   retail_recreation  14 non-null     int64
 2   grocery_pharmacy   14 non-null     int64
 3   parks              14 non-null     int64
 4   transit_stations   14 non-null     int64
 5   workplaces         14 non-null     int64
 6   residential        14 non-null     int64
dtypes: int64(6), object(1)
memory usage: 912.0+ bytes

In [ ]:
from scipy import stats as st

In [ ]:
st.ttest_1samp(df_fay[['retail_recreation',	'grocery_pharmacy',	'parks',	'transit_stations',	'workplaces', 'residential']], 0)

Ttest_1sampResult(statistic=array([-36.22107717,  -2.71094932, -33.30199133, -50.21946702,
       -11.05592929,  17.07974948]), pvalue=array([1.92654626e-14, 1.78179653e-02, 5.68117052e-14, 2.83382351e-16,
       5.54779701e-08, 2.75489864e-10]))

In [ ]:
st.ttest_1samp(df_fay[['retail_recreation',	'grocery_pharmacy',	'parks',	'transit_stations',	'workplaces', 'residential']], -5)

Ttest_1sampResult(statistic=array([-30.91673532,   3.6145991 , -30.1813228 , -45.20468429,
        -9.54437646,  22.82774209]), pvalue=array([1.47620056e-13, 3.14288725e-03, 2.01058097e-13, 1.10449324e-15,
       3.08231048e-07, 7.11721435e-12]))

In [ ]:
df_fay[['retail_recreation',	'grocery_pharmacy',	'parks',	'transit_stations',	'workplaces', 'residential']].mean()

retail_recreation   -34.142857
grocery_pharmacy     -2.142857
parks               -53.357143
transit_stations    -50.071429
workplaces          -36.571429
residential          14.857143
dtype: float64

In [ ]:
df_fay[['retail_recreation',	'grocery_pharmacy',	'parks',	'transit_stations',	'workplaces', 'residential']].median()

retail_recreation   -34.0
grocery_pharmacy     -2.0
parks               -52.5
transit_stations    -51.0
workplaces          -39.5
residential          16.0
dtype: float64